@mixin list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin wrap_center($justify-content: space-between, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin animation_under_line($animation_under_line_color: $main_color) {
    &::before {
        transform: scalex(0);
        transform-origin: left center;
        transition-duration: 0.3s;
    }
    &:hover::before, &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $animation_under_line_color;
        bottom: -2px;
        left: 0;
        right: 0;
    }
    &:hover::before {
        transform: scaleX(1);
    }
}