// переменные
@import "_var.scss";

// примеси
@import "_mixins.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

body {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
}

.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

.center {
    text-align: center;
}

// HEADER
@import "blocks/main_page/header.scss";
// HEADER

/* Promo */
@import "blocks/main_page/promo.scss";
/* Promo */

/* Offers */
@import "blocks/main_page/offers.scss";
/* Offers */

/* featured products */
@import "blocks/main_page/featured_products.scss";
/* featured products */

/* Feature */
@import "blocks/main_page/feature.scss";
/* Feature */

/* feedback */
@import "blocks/main_page/feedback.scss";
/* feedback */

/* footer */
@import "blocks/main_page/footer.scss";
/* footer */




/* CATALOG PAGE */
.catalog_products {
    padding-bottom: 95px;
}

/* breadcrumbs */
@import "blocks/catalog_page/breadcrumbs.scss";
/* breadcrumbs */

/* nav_catalog */
@import "blocks/catalog_page/nav_catalog.scss";
/* nav_catalog */

//   pagination
@import "blocks/catalog_page/pagination.scss";
//   pagination
  

