// переменные
@import "_var.scss";

// примеси
@import "_mixins.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

body {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1140px;
    box-sizing: border-box;
}

.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

.center {
    text-align: center;
}

// HEADER
@import "blocks/main_page/header.scss";
// HEADER

/* Promo */
@import "blocks/main_page/promo.scss";
/* Promo */

/* Offers */
@import "blocks/main_page/offers.scss";
/* Offers */

/* featured products */
@import "blocks/main_page/featured_products.scss";
/* featured products */

/* Feature */
@import "blocks/main_page/feature.scss";
/* Feature */

/* feedback */
@import "blocks/main_page/feedback.scss";
/* feedback */

/* footer */
@import "blocks/main_page/footer.scss";
/* footer */




/* CATALOG PAGE */
.catalog_products {
    padding-bottom: 95px;
}

/* breadcrumbs */
@import "blocks/catalog_page/breadcrumbs.scss";
/* breadcrumbs */

/* nav_catalog */
@import "blocks/catalog_page/nav_catalog.scss";
/* nav_catalog */

//   pagination
@import "blocks/catalog_page/pagination.scss";
//   pagination
  
// PRODUCT PAGE

.margin_product_page {
    margin-bottom: 35px;
    padding-top: 80px;
}

.slider_product {
    min-height: 365px;
    background-color: #F7F7F7;
    display: flex;
    position: relative;

    &_img {
        margin: 10px auto 42px auto;
        @media (max-width: $tablet_breakpoint) {
            width: 466px;
            margin: 30px auto;
        }
        @media (max-width: $phone_breakpoint) {
            width: 374px;
            margin: 85px auto;
        }

    }
}

.slider-bth {
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 10;
    top: 288px;
    border: none;
    background-color: rgba(42, 42, 42, 0.15);

    &_img {
        transition-property: fill;
        transition-duration: 0.2s;
    }
    &_right {
        transform: rotate(180deg);
        right: 0;
    }
    &:hover .slider-bth_img {
        fill: $main_color;
    }
}

.about_product {
    border: 1px solid #EAEAEA;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    margin-top: -60px;
    position: relative;
    z-index: 100;

    @media (max-width: $phone_breakpoint) {
        padding: 65px 23px;
    }
    @media (max-width: $tablet_breakpoint) {
        padding: 65px 23px;
        margin-top: 0;
    }

    &_title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        &_line {
            width: 63px;
            height: 3px;
            margin: 12px 0px;
            background-color: $main_color;
        }
    }
    &_name {
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }
    &_text {
        color: #5E5E5E;
        width: 554px;
        text-align: center;
        margin-top: 49px;

        @media (max-width: $phone_breakpoint) {
            margin-top: 32px;
            line-height: 143.1%;
            width: 100%;
        }
    }
    &_price {
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        margin-top: 32px;
    }
    &_line {
        border: 1px solid #EAEAEA;
        width: 641px;
        margin-top: 65px;

        @media (max-width: $phone_breakpoint) {
            max-width: 175px;
            margin-top: 32px;
        }
    }
}

.product_atribut {
    max-width: 400px;
    justify-content: space-between;
    display: flex;
    margin-top: 64px;

    @media (max-width: $phone_breakpoint) {
        margin-top: 49px;
    }
}

summary {
    display: block;
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }
}

.details_product_atribut {
    color: #6F6E6E;
    align-items: center;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
    &_title {
        &::after {
            content: '';
            width: 10px;
            height: 8px;
            display: inline-block;
            padding-right: 0.5em;
            background-repeat: no-repeat;
            background-image: url(../img/marker_row.svg);
            margin-left: 9px;
        }

        @media (max-width: $phone_breakpoint) {
            font-size: 10px;
            line-height: 12px;
        }
    }
    &_drop {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px ;
        margin-top: 5px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        color: $main_color;

        &_radio {
            margin-bottom: 7px;
            margin-right: 4px;
            color: green;

        }
        &_number {
            text-align: end;
            width: 40px;
            border: 1px solid #EAEAEA;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            margin-left: 24px;

            &:focus-visible {
                border: 1px solid $main_color;
                outline: transparent;
            }
        }
    }
}

input[type="radio"] {
    width: 12px;
    height: 12px;
    &:checked:before{
        content: "";
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $main_color;
    }
}


.add_to_cart_product {
    border: 1px solid $main_color;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $main_color;
    padding: 15px 39px;
    display: inline-block;
    margin-top: 63px;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
    & svg {
        vertical-align: middle;
        margin-right: 23px;
        fill: $main_color;
    }

    &:hover {
        color: #fff;
        background-color: $main_color;
        transform: scale(1.1) translateY(-10%);
        & svg{
            fill: #fff;
        }
    }

    @media (max-width: $phone_breakpoint) {
        margin-top: 49px;
    }
}

.featured_products_items_product_page_hidden {
    @media (max-width: $tablet_breakpoint) {
        display: none;
    }
}


// SHOPPING CART PAGE

.shopping_cart_wrap {
        @include wrap_center();
        padding-top: 96px;
        padding-bottom: 96px;
        align-items: flex-start;

        @media (max-width: 1000px) {
            flex-direction: column;
            padding-bottom: 128px;
        }
}

.shopping_cart_product {
    display: flex;
    flex-direction: column;
    width: 57%;

    @media (max-width: 1000px) {
        width: 100%;
    }

    &_item {
        width: 100%;
        display: flex;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        margin-bottom: 40px;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition-property: transform;
        transition-duration: 0.3s;
        &:hover{
            transform: scale(1.1);
        }

        @media (max-width: 1000px) {
            max-height: auto;
        }

        @media (max-width: $phone_breakpoint) {
            margin-bottom: 32px;
        }

        &_title {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            max-width: 210px;
            margin-bottom: 42px;

            @media (max-width: $phone_breakpoint) {
                font-size: 16px;
                line-height: 19px;
                max-width: 140px;
            }
        }
        &_atributs {
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-bottom: 6px;
            list-style-type: none;

            @media (max-width: $phone_breakpoint) {
                font-size: 14px;
                line-height: 17px;
            }

            &_number {
                text-align: end;
                width: 40px;
                border: 1px solid #EAEAEA;
                font-size: 18px;
                line-height: 22px;
                color: #656565;
                margin-left: 24px;

                @media (max-width: $phone_breakpoint) {
                    font-size: 10px;
                    line-height: 12px;
                    height: 18px;
                    width: 34px;
                }                

                &:focus-visible {
                    border: 1px solid $main_color;
                    outline: transparent;
                }
            }
            &:nth-child(1)::after {
                content: "$350";
                font-size: 22px;
                line-height: 26px;
                color: #EF5B70;
                margin-left: 4px;

                @media (max-width: $phone_breakpoint) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            &:nth-child(2)::after {
                content: "Red";
                font-size: 22px;
                line-height: 26px;
                color: #6F6E6E;
                margin-left: 4px;

                @media (max-width: $phone_breakpoint) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            &:nth-child(3)::after {
                content: "Xl";
                font-size: 22px;
                line-height: 26px;
                color: #6F6E6E;
                margin-left: 4px;

                @media (max-width: $phone_breakpoint) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        &_img {
            width: 40.307692%;
            background-image: url(../img/products_3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right top;
        }

        &_box_info {
            padding: 22px 0 0px 31px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media (max-width: $phone_breakpoint) {
                padding: 14px 30px 0 17px;
            }
        }

    }

    &_nav {
        display: flex;
        justify-content: space-between;
        margin-top: 22px;

        @media (max-width: 1000px) {
            justify-content: center;
            gap: 9px;
        }
        @media (max-width: $phone_breakpoint) {
            margin-top: 0;
        }

        &_item {
            border: 1px solid #A4A4A4;
            background-color: transparent;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 17px 40px;
            transition-property: border, color, transform;
            transition-duration: 0.3s;

            @media (max-width: $phone_breakpoint) {
                font-size: 12px;
                line-height: 14px;
                width: 49%;
                padding: 10px 0px;
            }

            &:hover {
                border: 1px solid $main_color;
                color: $main_color;
                transform: scale(0.9);
            }
        }
    }
}

.delete_product {
    position: absolute;
    background-color: transparent;
    border: none;
    right: -20px;
    top: -20px;
    fill: #575757;;
    transition-property: fill, transform;
    transition-duration: 0.3s;
    transform-origin: center;
    top: 28px;
    right: 22px;

    &:hover {
        transform: rotate(90deg) scale(1.1);
        fill: $main_color;
    }

    @media (max-width: $phone_breakpoint) {
        top: 17px;
        right: 12px;
    }
    &_icon {
    @media (max-width: $phone_breakpoint) {
        width: 9.88px;
        height: 11.06px;
    }
}
    
}


.shopping_cart_buy_list {
    width: 31.578947%;
    margin-top: 18px;

    @media (max-width: 1000px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 64px;
    }

    @media (max-width: $phone_breakpoint) {
        margin-top: 48px;
        flex-direction: column;
    }
}

.title_adress_info {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.shipping_form {
    margin-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1000px) {
        width: 49%;
        margin-bottom: 0;
    }

    @media (max-width: $phone_breakpoint) {
        width: 100%;
    }

    &__field {
        margin-bottom: 20px;
        padding: 13px 0 16px 17px;
        width: 100%;
        border: 1px solid #A4A4A4;
        &::placeholder {
            font-size: 13px;
            line-height: 16px;
            color: #222222;
        }
        &:first-child::placeholder {
            color: #B1B1B1;;
        }
        &:focus-visible {
            border: 1px solid $main_color;
            outline: transparent;
        }
    }
    &__button {
        border: 1px solid #A4A4A4;
        background-color: transparent;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding: 11px 14px 11px 15px;
        transition-property: border, color, transform;
        transition-duration: 0.3s;

        &:hover {
            cursor: pointer;
            border: 1px solid $main_color;
            color: $main_color;
            transform: scale(0.95);
        }
    }
}

.shopping_cart_buy {
    height: 214px;
    background: #F5F3F3;
    padding: 40px 43px 43px 43px;

    @media (max-width: 1000px) {
        width: 49%;
        margin-top: 40px;
    }

    @media (max-width: $phone_breakpoint) {
        width: 100%;
    }

    &_text {
        text-align: end;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        margin-bottom: 12px;
        margin-right: -9px;
        &_price {
            margin-left: 24px;
        }
    }
    &_price {
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        text-align: end;
        margin-right: -6px;
        margin-bottom: 21px;
        &_few {
            font-weight: bold;
            color: #F16D7F;
            margin-left: 24px;
        }
    }
    &_line {
        border-width: 0px;
        border-bottom-width: 1.5px;
        border-bottom-color: #E2E2E2;
        margin-bottom: 17px;
        margin-right: -2px;
    }
    &_button {
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background-color: $main_color;
        border: 2px solid $main_color;
        padding: 15px;
        transition-property: color, background-color, transform;
        transition-duration: 0.3s;
        &:hover {
            color: $main_color;
            background-color: #fff;
            transform: scale(1.05);
        }
    }
}



// REGISTRATION

.registration_wrap {
    @include wrap_center();
    padding-top: 64px;
    padding-bottom: 96px;
    align-items: flex-start;

    @media (max-width: $phone_breakpoint) {
        flex-direction: column;
        padding-top: 40px;
    }
}

.regform {
    width: 31.578947%;

    &_fieldset {
        border: none;
        display: flex;
        flex-direction: column;

        &_title {
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin-bottom: 20px;
        }
    }

    &_field {
        outline: transparent;
        border: 1px solid #A4A4A4;
        padding: 13px 0 16px 17px;
        margin-bottom: 20px;
        transition-property: border-color;
        transition-duration: 0.3s;

        &::placeholder {
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;

        }

        &:focus-visible {
            border-color: $main_color;
        }

        @media (max-width: $phone_breakpoint) {
            width: 100%;
        }
    }

    &_fieldset_radio {
        margin-top: 11px;
        margin-bottom: 33px;
        border: none;

        &_text {
            line-height: 13px;
            color: #000000;
            margin-right: 20px;
            & input {
                margin-right: 5px;
            }

            &:last-child {
                display: none;
                @media (max-width: $tablet_breakpoint) {
                    display: inline-block;
                }
                @media (max-width: $phone_breakpoint) {
                    display: inline-block;
                }
            }            
        }
    }

    &_requirements {
        margin-top: -5px;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        margin-bottom: 40px;
    }

    &_button {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        background-color: $main_color;
        border: 1px solid $main_color;
        padding: 16px 29px;
        transition-property: color, background-color, transform;
        transition-duration: 0.3s;

        &_svg {
            fill: #fff;
            margin-left: 20px;
            transition-property: fill;
            transition-duration: 0.3s;
        }

        &:hover {
            background-color: #fff;
            color: $main_color;
            transform: scale(1.1);

            & .regform_button_svg {
                fill: $main_color;
            }
        }
    }
    @media (max-width: $tablet_breakpoint) {
        width: 48.51752%;
    }
    @media (max-width: $phone_breakpoint) {
        margin-bottom: 40px;
        width: 100%;
    }
}

.registration_perks {
    width: 57%;

    &_title {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;

    @media (max-width: $tablet_breakpoint) {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 32px;
    }
    &_text {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 21px;
        @media (max-width: $tablet_breakpoint) {
            font-size: 16px;
            line-height: 19px;
        }
        }
    }

    &_text {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 16px;
        display: flex;

        @media (max-width: $tablet_breakpoint) {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 32px;
        }
        &::before {
            width: 20px;
            height: 16px;
            content: "";
            display: block;
            margin-right: 22px;
            background-image: url(../img/check_icon.svg);
        }
    }

    @media (max-width: $tablet_breakpoint) {
        width: 48.51752%;
    }
    @media (max-width: $phone_breakpoint) {
        width: 100%;
    }
}