// переменные
@import "_var.scss";

// примеси
@import "_mixins.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

body {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
}

.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

.top_header {
    background-color: #222222;
}

.top_header_wrap {
    display: flex;
    justify-content: space-between;
}

.top_left_nav {
    margin-top: 18px;
}
.top_left_nav a:first-child {
    margin-right: 41px;
}

.top_right_nav {
    margin-bottom: 20px;
    margin-top: 25px;
    display: flex;
    align-items: flex-end;
}

.top_right_nav a {
    margin-right: 33px;
}
.top_right_nav a:last-child {
    margin-right: 0px;
}
.box_basket_mask {
    position: relative;
}
.nomber_goods {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 19px;
    height: 19px;
    border-radius: 100px;
    background-color: #F16D7F;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center
}

.menu_hover {
    fill: #E8E8E8;
}

.menu_hover:hover {
    fill: #F16D7F;
}

/* Promo */
.promo {
    background-color: #F1E4E6;
}

.promo_wrap {
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/promo_bg.png);
    height: 764px;
    background-repeat: no-repeat;
    background-position-x: -225px;
}
.promo_title {
    margin-top: 290px;
    margin-bottom: auto;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    
}

.promo_title_bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo_title_pink {
    color: #F16D7F;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}


/* Offers */
.offers {
    padding-top: 65px;
    padding-bottom: 96px;
}

.offer_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.offer_item {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    padding: 20px;
}
.offer_item a {
    text-decoration: none;
    width: 100%;
}
.offer_item:nth-child(1) {
    background-image: url(../img/offer_for_woman.jpg);
}

.offer_item:nth-child(2) {
    background-image: url(../img/offer_for_man.jpg);
}

.offer_item:nth-child(3) {
    background-image: url(../img/offer_for_kinds.jpg);
}

.offer_item:nth-child(4) {
    width: 100%;
    height: 180px;
    flex-grow: 1;
    background-image: url(../img/offer_accesories.jpg);
}

.offer_name::first-line {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.offer_name {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}


/* featured products */
.featured_products {
    padding-bottom: 95px;
}

.featured_products_title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.featured_products_text {
    font-weight: normal;
    color: #9F9F9F;
    text-align: center;
    margin-top: 6px;
}

.featured_products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 48px;
}

.featured_products_items {
    max-width: 360px;
    min-height: 420px;
    background-color: #F8F8F8;
    list-style-type: none;
}

.featured_products_items a {
    text-decoration: none;
}

.container_product_text {
    margin: 25px 28px 20px 18px;
}

.name_product {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_product {
    color: #5D5D5D;
    margin-top: 12px;
}

.price_product {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.show_more_product {
    border: 1px solid #FF6A6A;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    display: inline-block;
    margin-top: 63px;
}

.show_more_product:hover {
    color: #fff;
    background-color: #F26376;
}

.center {
    text-align: center;
}


/* Feature */

.feature {
    min-height: 341px;
    background-color: #222224;
    padding: 104px 0px;
}

.wrap_feature {
    display: flex;
    justify-content: space-between;
}

.feature_container {
    text-align: center;
}

.feature_img_box {
    height: 40px;
    margin-bottom: 19px;
}

.feature_title {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature_text {
    margin-top: 16px;
    color: #FBFBFB;
    width: 360px;
    padding: 0px 30px;
}


/* feedback */

.feedback {
    background-image: url(../img/footer_bg.jpg);
    min-height: 448px;
    padding: 97px 0 154px 0;
    background-repeat: no-repeat;
    background-size: cover
}

.feedback_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reviews {
    text-align: center;
}

.reviews_text {
    max-width: 360px;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.subscribe_title {
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
}

.subscribe_title::first-line {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subsribe_form {
    display: flex;
    margin-top: 32px;
    justify-content: center;
}

.subscribe_form_field {
    border: none;
    background-color: #E1E1E1;;
    padding: 18px;
    border-radius: 23px 0 0 23px;

}

.subscribe_form_button {
    background-color: #F16D7F;
    color: #FFFFFF;
    border: none;
    padding: 18px;
    border-radius: 0 23px 23px 0;
}


/* footer */

footer {
    background-color: #222224;
    padding: 30px 0;
    min-height: 79px;
}

.rights {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_icons_list {
    display: flex;
    gap: 7px;
}

.social_icons_items {
    list-style-type: none;
    background-color: #fff;
}

.social_icons_items a {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icons_items:hover {
    color: #FFFFFF;
    background-color: #F26376;
}
.social_icons_items a:hover{
    fill: #fff;
}





/* CATALOG PAGE */
.catalog_products {
    padding-bottom: 95px;
}

/* breadcrumbs */
.wrap_breadcrumbs {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs_title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumbs {
	padding: 65px 0px;
	background-color: #F8F3F4;
}
.breadcrumbs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.breadcrumbs-item::before {
    content: '/';
    margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
    display: none;
}

.breadcrumbs-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #636363;
    transition: 0.2s;
}

.breadcrumbs-link--current {
    font-weight: bold;
    color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: #F16D7F;
}

/* nav_catalog */
.catalog_products_filter {
    display: flex;
    justify-content: space-between;
    padding: 51px 454px 16px 16px;
}

.catalog_products_filter_right {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

summary {
    display: block;
  }
  
    summary::-webkit-details-marker {
    display: none;
  }
  
  .details_left::after {
    content: '';
    width: 15px;
    height: 10px;
    display: inline-block;
    padding-right: 0.5em;
    background-repeat: no-repeat;
    background-image: url(../img/marker_filter.svg);
    margin-left: 11px;
  }

  .details_right::after {
    content: '';
    width: 10px;
    height: 8px;
    display: inline-block;
    padding-right: 0.5em;
    background-repeat: no-repeat;
    background-image: url(../img/marker_row.svg);
    margin-left: 10px;
  }


//   pagination

.pagination {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.pagination-list {
	margin: 0;
	list-style: none;
	display: flex;
	gap: 20px;	
	border: 1px solid #EBEBEB;
	border-radius: 5px;
	padding: 13px 16px;
}

.pagination-item--separator {
	margin: 0 -20px;
    align-items: flex-end;
    display: flex;
    color: #C4C4C4;
}

.pagination-link {
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    &:hover {
        color: #EF5B70;

        svg {
            fill: #EF5B70;
        }
    }
}

.pagination_right_arrow {
    transform: rotate(180deg);
}

.active > .pagination-link {
    color: #EF5B70;
}
  

