// переменные
@import "_var.scss";

// примеси
@import "_mixins.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

body {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
}


.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

.center {
    text-align: center;
}

// HEADER
@import "blocks/main_page/header.scss";
// HEADER

/* Promo */
@import "blocks/main_page/promo.scss";
/* Promo */

/* Offers */
@import "blocks/main_page/offers.scss";
/* Offers */

/* featured products */
@import "blocks/main_page/featured_products.scss";
/* featured products */

/* Feature */
@import "blocks/main_page/feature.scss";
/* Feature */

/* feedback */
@import "blocks/main_page/feedback.scss";
/* feedback */

/* footer */
@import "blocks/main_page/footer.scss";
/* footer */




/* CATALOG PAGE */
.catalog_products {
    padding-bottom: 95px;
}

/* breadcrumbs */
@import "blocks/catalog_page/breadcrumbs.scss";
/* breadcrumbs */

/* nav_catalog */
@import "blocks/catalog_page/nav_catalog.scss";
/* nav_catalog */

//   pagination
@import "blocks/catalog_page/pagination.scss";
//   pagination
  
// PRODUCT PAGE

.margin_product_page {
    margin-bottom: 35px;
    padding-top: 80px;
}

.slider_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 365px;
    background-color: #F7F7F7;
}

.slider-bth {
    width: 47px;
    height: 47px;
    border: none;
    background-color: rgba(42, 42, 42, 0.15);

    &_img {
        transition-property: fill;
        transition-duration: 0.2s;
    }
    &_right {
        transform: rotate(180deg);
    }
    &:hover .slider-bth_img {
        fill: $main_color;
    }
}

.about_product {
    border: 1px solid #EAEAEA;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    margin-top: -60px;
    position: relative;
    z-index: 100;

    &_title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        &_line {
            width: 63px;
            height: 3px;
            margin: 12px 0px;
            background-color: $main_color;
        }
    }
    &_name {
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }
    &_text {
        color: #5E5E5E;
        width: 554px;
        text-align: center;
        margin-top: 49px;
    }
    &_price {
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        margin-top: 32px;
    }
    &_line {
        border: 1px solid #EAEAEA;
        width: 641px;
        margin-top: 65px;
    }
}

.product_atribut {
    max-width: 400px;
    justify-content: space-between;
    display: flex;
    margin-top: 64px;
}

summary {
    display: block;
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }
}

.details_product_atribut {
    color: #6F6E6E;
    align-items: center;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
    &_title {
        &::after {
            content: '';
            width: 10px;
            height: 8px;
            display: inline-block;
            padding-right: 0.5em;
            background-repeat: no-repeat;
            background-image: url(../img/marker_row.svg);
            margin-left: 9px;
        }
    }
    &_drop {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px ;
        margin-top: 5px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        color: $main_color;

        &_radio {
            margin-bottom: 7px;
            margin-right: 4px;
            color: green;

        }
    }
}

input[type="radio"] {
    width: 12px;
    height: 12px;
    &:checked:before{
        content: "";
        display: block;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $main_color;
    }
}


.add_to_cart_product {
    border: 1px solid $main_color;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $main_color;
    padding: 15px 39px;
    display: inline-block;
    margin-top: 63px;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
    & svg {
        vertical-align: middle;
        margin-right: 23px;
        fill: $main_color;
    }

    &:hover {
        color: #fff;
        background-color: $main_color;
        transform: scale(1.1) translateY(-10%);
        & svg{
            fill: #fff;
        }
    }
}