.featured_products {
    padding-bottom: 95px;

    &_title {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $dark_color;
        text-align: center;
    }
    &_text {
        font-weight: normal;
        color: #9F9F9F;
        text-align: center;
        margin-top: 6px;
    }
    &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 48px;
    }
    &_items {
        max-width: 360px;
        min-height: 420px;
        background-color: #F8F8F8;
        list-style-type: none;
        position: relative;

        a {
            text-decoration: none;
        }

        &:hover .products_overlay {
            transform: scaleY(1);
        }
    }
}

.container_product_text {
    margin: 25px 28px 20px 18px;
}

.name_product {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_product {
    color: #5D5D5D;
    margin-top: 12px;
}

.price_product {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $main_color;
    margin-top: 18px;
}

.show_more_product {
    border: 1px solid $main_color;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $main_color;
    padding: 15px 39px;
    display: inline-block;
    margin-top: 63px;
    transition-property: background-color, transform;
    transition-duration: 0.3s;

    &:hover {
        color: #fff;
        background-color: $main_color;
        transform: scale(1.1) translateY(-10%);
    }
}
.video-bg {
    object-fit: cover;
}

.products_overlay {
    position: absolute;
    width: 100%;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(0);
    transition-property: transform;
    transform-origin: center top;
    transition-duration: 0.5s;
}

.bth_add {
    background-color: transparent;
    padding: 20px 30px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition-property: transform, background-color;
    transition-duration: 0.3s, 0.5s;

    &_img {
        vertical-align: middle;
        margin-right: 11px;
    }

    &:hover {
        transform: scale(1.05);
        background-color: rgba(58, 56, 56, 0.73);
    }
}