.feedback {
    background-image: url(../img/footer_bg.jpg);
    min-height: 448px;
    padding: 97px 0 154px 0;
    background-repeat: no-repeat;
    background-size: cover;

    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 1180px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.reviews {
    text-align: center;

    @media (max-width: 1180px) {
        margin-bottom: 65px;
    }
    &_text {
        max-width: 360px;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $dark_color;
        margin-top: 30px;

        @media (max-width: $phone_breakpoint) {
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            max-width: 337px;
        }
    }
    &_img {
        @media (max-width: $phone_breakpoint) {
            width: 90px;
            height: 90px;
        }
    }
}

.subscribe_title {
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;

    @media (max-width: $phone_breakpoint) {
        font-size: 14px;
        line-height: 153.2%;
    }

    &::first-line {
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: $dark_color;

        @media (max-width: $phone_breakpoint) {
            font-size: 24px;
            line-height: 153.2%;
        }
    }
}

.subscribe_form {
    display: flex;
    margin-top: 32px;
    justify-content: center;

    &_field {
        border: none;
        background-color: #E1E1E1;;
        padding: 18px;
        border-radius: 23px 0 0 23px;
    }
    &_button {
        background-color: $main_color;
        color: #FFFFFF;
        border: none;
        padding: 18px;
        border-radius: 0 23px 23px 0;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 0.3s;

        &:hover {
            background-color: #d55869;
        }
    }
}
