.footer {
    background-color: $dark_color;
    padding: 30px 0;
    min-height: 79px;

    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 735px) {
            flex-direction: column-reverse;
        }
    }
}

.rights {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

    @media (max-width: 735px) {
        margin-top: 45px;
    }
}

.social_icons_list {
    display: flex;
    gap: 7px;
}

.social_icons_items {
    list-style-type: none;
    a {
        background-color: #fff;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, transform;
        transition-duration: 0.3s;
        &:hover{
            fill: #fff;
            background-color: $main_color;
            transform: rotate(360deg);
        }
    }
}