.breadcrumbs {
	padding: 65px 0px;
	background-color: #F8F3F4;

    @media (max-width: $tablet_breakpoint) {
        padding: 60px 0;
    }
    @media (max-width: $phone_breakpoint) {
        padding: 24px 0 46px 0;
    }

    &_wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: $phone_breakpoint) {
            flex-direction: column;
            align-items: center;
        }
    }
    &_title {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $main_color;

        @media (max-width: $phone_breakpoint) {
            margin-bottom: 32px;
        }
    }
    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
    &-item{
        &::before {
            content: '/';
            margin-right: 10px;
        }
        &:first-child::before {
            display: none;
        }
    }
    &-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #636363;
        transition: 0.5s;
        position: relative;
        &--current {
            font-weight: bold;
            color: $main_color;                
            text-decoration: none;
            text-transform: uppercase;
        }
        &[href]:hover {
            color: $main_color;
        }
        @include animation_under_line();
    }
}
