.catalog_products_filter {
    display: flex;
    padding: 51px 0px 16px 0px;

    &_right {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: $tablet_breakpoint) {
        justify-content: space-between;
    }
}

summary {
    display: block;
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }
}

.details_left {
    width: 31.578947%;
    position: relative;

    &[open] {
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        & .details_left_title {
            color: $main_color;
            background-color: #fff;
        }
        & .details_left_title_icon {
            fill: $main_color;
        }
    }
    &_drop {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        box-sizing: border-box;
        width: 100%;
        padding: 0px 16px 16px 16px ;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &_title{
        font-weight: 600;
        color: #000000;
        background-color: transparent;
        padding: 13px 0px 16px 16px;
        position: relative;
        z-index: 20;


        &_icon {
            margin-left: 11px;

            @media (max-width: $phone_breakpoint) {
                width: 37.5px;
                height: 25px;
                margin-left: 0;
            }
        }
        @media (max-width: $phone_breakpoint) {
            font-size: 0px;
        }
    }
}

.filter_details_list {
    color: $main_color;
    border-left: 5px solid $main_color;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 18px;
    padding: 11px;
    transition-property: font-size;
    transition-duration: 0.3s;

    @media (max-width: 550px) {
        font-size: 12px;
        line-height: 14px;
    }      

    &:hover {
        font-size: 16px;
    }
    &_drop {
        padding: 24px 17px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;

        @media (max-width: 550px) {
            padding: 24px 5px;
        }     
    }
}

.drop_item {
    border: none;
    background-color: transparent;
    color: #6F6E6E;
    margin-bottom: 11px;
    transition-property: color, transform;
    transition-duration: 0.3s;

    &:hover {
        color: $main_color;
        transform: scale(1.1);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.catalog_products_filter_right {
    margin-left: 30px;

    @media (max-width: $tablet_breakpoint) {
        margin-left: 0;
    }      
}

.details_right {
    padding: 13px 21px 0px 9px;
    position: relative;
    @media (max-width: 550px) {
        padding-right: 0;
    }     

    &:last-child {
        padding-right: 0px;
    }

    &_title {
        color: #6F6E6E;
        @media (max-width: $phone_breakpoint) {
            font-size: 12px;
            line-height: 14px;
        }        
    
        &::after {
            content: '';
            width: 10px;
            height: 8px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url(../img/marker_row.svg);
            margin-left: 10px;
        }
    }
    &_drop {
        position: absolute;
        z-index: 10;
        width: 95%;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px ;
        margin-top: 5px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        &_checkbox {
            margin-right: 9px;
            line-height: 16px;
            color: #6F6E6E;
            vertical-align: middle;
        }

        @media (max-width: 550px) {
            padding: 5px;
        }     
    }
}

